<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<meta charset="utf-8">

<div class="modal fade" id="modalCenter" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
    	<div class="card-header bg-white border-0">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
        	</button>
			<div class="row align-items-center">
				<div class="col-8">
					<th:block layout:fragment="modalhead" />
				</div>
			</div>
		</div>
    	<div class="modal-body p-0">
      		<th:block layout:fragment="modalcontent" />
    	</div>
    </div>
  </div>
</div>